<div class="well">
  <h2>Delivery</h2>
  

<h3>Time to prepare order</h3>
<p>
Orders are prepared for shipping each working day. Nestboxes are built on demand: untreated ones take two working days while treated ones take seven working days to construct.
</p>
<h3>Delivery methods</h3>
<p>Delivery charges will be listed in your shopping basket offering the various delivery methods. These are:
</p>
<dl>
<dt>
Royal mail: First Class Recorded
</dt><dd>
Excellent for small light orders. One to three days delivery time.
</dd><dt>
Royal Mail: Special Delivery Next Day
</dt><dd>
For when you want your order in a hurry. Next day delivery by 1pm.
</dd><dt>
Collect+ Economy
</dt><dd>
Three to five days delivery time.
</dd><dt>
Collect+ Standard
</dt><dd>
A superior service with two days delivery time.
</dd><dt>
Collect+ Delivered to a local shop
</dt><dd>
Using a local shop in the Collect+ network means that you do not need to wait in for a delivery.
</dd>
</dl>
<h3>Tracking and cover</h3>
<p>
All purchases require a signature on delivery and are covered to the full value of the order. If your order is visibly damaged when you receive the parcel please sign it as damaged in the signature box along with your signature. Take photos of the package before opening it and retain the packaging once opened. After opening, if there is no damage as the packaging was adequate please consider e-mailing me the photos so that I know how well the packaging stands up. If the contents are damaged please contact me straight away so that I can make a claim against the courier within three days.
</p>
<h3>Free delivery</h3>
<p>
Free delivery is offered on any orders above &pound;120 for Collect+ Delivered to a local shop and for orders above &pound;160 for Collect+ Economy
</p>
</div>
