<div class="jumbotron">
	<img ng-src="images/logo3.3-Large_Header_Logo.png" />
	<img ng-src="images/logo3.3-Header.png" />
	<div class="row top-buffer">
		<div class="col-xs-12 col-md-7 col-lg-6">
			<img ng-src="images/Group_shot_A_small_opt.jpg" class="img-rounded" />
			<br />
			<br />
		</div>
		<div class="col-xs-12 col-md-5 col-lg-6">
			<div class="altH2">Bringing nature to you</div>
			<p>Welcome to Eye Spy Nature.</p>
			<p>We offer a comprehensive range of nestboxes and cameras for watching birds in their home from the comfort of your home.</p>
			<p>We provide the option to connect the nestbox to your TV using wire or wireless transmission allowing the nestbox to be placed up
				to 1km away.</p>
			<div class="top-buffer extra-margin-bottom">
				<a href="#/Shop" class="btn btn-primary btn-lg top-buffer" role="button">Visit Shop</a>
			</div>
		</div>
	</div>
	<div class="row lowerText">
		<p>We are a UK based company dedicated to helping the wildlife in your garden. We manufacture our own nestboxes out of sustainably
			sourced wood via CNC machines and finished by hand to offer you a quality and robust product. All the goods that we supply but do not
			make ourselves are thoroughly tested to ensure they are of the highest quality. We are so confident in our stock that we offer a 2 year
			warranty on all our products. We ensure our customers get the best support possible via email which we promise to try and reply to within
			24 hours.</p>
		<p>
			Whether you are new to camera nestboxes or already have 3 in your garden, you will find your next one on this website. If you know what
			you are looking for you can find it by using the menu on the left or the search bar at the top of the page. If you do not, the
			descriptive menu below will help guide you. You can also
			<a href="#/Contact">contact us</a>
			and we will happily answer your questions and suggest the best product to meet your needs.
		</p>
	</div>
</div>