<div class="well">
  <h2>Privacy Notice</h2>
  

<h3>How we use your information</h3>
<p>
This explains what we do with any personal data collected through the web site. It also explains what we plan to do with the data in the future.
</p><p>
We collect information upon the pattern of use of the web site so that we can understand usage patterns. This uses the industry standard logging format.
</p>
<h3>Cookies</h3>
<p>If you do not enable the use of cookies to store information then we will not store them, however the web site will have limited functionality and you may be unable to make purchases through the web site.
</p>
<p>If you enable cookies and then change your mind please see www.aboutcookies.org for an explanation of how to remove them on various browsers. Some browsers support synchronisation of cookies between browsers. However a cookie is not normally shared between different browser/user combinations.
</p>
<p>We use cookies to store the fact that you have allowed us to store cookies and to store your shopping basket. If you create an account on our web site we will store a cookie so that you do not need to log in again.
</p>
<h3>Sharing of data</h3>
<p>We do not share data with anybody else except that if you register with us, fill your basket and then request checkout, we may send your name and address to the organisation that carries out the secure checkout procedure. This may remove the need to re-enter your name and address when you come to pay.
</p>
<h3>Processing payments</h3>
<p>Payment can only be made via the web site using a secure payment system. We never see your credit card details.
</p>
</div>
